
.casmm {
    width: 100%;
    h2 { font-weight: 500; }
    h3 { font-weight: 500; }
    p { font-size: 1.1rem; }
    ul { font-size: 1.1rem; }
}

#casmm-landing {
    height: 100vh;
    background-color: #3d5c82;
    color: #fff;

    #casmm-landing-description {
        width: 40%;
        margin: 0px 0px 0px 2vw;
    }

    .casmm-img {
        width: 100%;
        height: 100%;
    }

    #casmm-logo {
        width: 30%;
        height: auto;
        left: 14vw;
        animation-duration: 3s;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.casmm-blue {
    background-color: #3d5c82;
    color: #fff;
}

.casmm-yellow {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #ffde59;
    color: #000;
}

.casmm-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    align-items: left;
    .casmm-info-container{
        line-height: auto;

    .casmm-info-content {
        display: flex;
        flex-direction: column;
        width: 70%;

        #color-container {
            width: 30%;
            height: auto;    
        
            #color-img {
                width: 100%;
                text-align: center;
            }
        }
    }
    
    .casmm-info-img {
        width: 30%;
        img {
            width: 90%;
            float: right;
        }
    }
  }
}

.casmm-container-updates {
    margin: 10vh 6vw;
    height: fit-content;

    .updates-img-container {
        width: 100%;
        height: 40%;
        margin: 4vh 0;
    
        .updatesimg {
            width: 60%;
            height: auto;
            border-radius: 8px;
            box-shadow:  5px 5px 5px #50505080;

            &:hover {
                animation: headShake;
                animation-duration: 2s;
            }
        }
        
        .updatesimg-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 30%;
            margin: 0 2vw;
        }
    }
}

.role-description { margin-top: 1vh; }

  @media screen and (max-width: 960px) { 
    #casmm-landing {
        flex-direction: column;
        height: 70vh;

        #casmm-landing-description {
            width: 80%;
        }

        #casmm-logo {
            width: 50%;
            height: auto;
            margin: 4vh 0;
        }
    }

    .casmm-container {
        .casmm-info-container {
            flex-direction: column;
            width: 90%;
            height: fit-content;
            
            .casmm-info-content {
                width: 100%;

                #color-container {
                    width: 50%;
                    height: auto;    
                    
                    #color-img {
                      width: 100%;
                  }
                }
            }
    
            .casmm-info-img {
                width: 80%;
                height: auto;
                margin: 6vh 0;
            }
        }
    }


    .casmm-container-updates {
        display: flex;
        flex-direction: column;
        margin: 3vh 8vw;
    
        .updates-img-container {
            flex-direction: column;
            width: 100%;
            height: 40%;
            margin: 0;
            
            .updatesimg {
                width: 100%;
                height: auto;
                margin: 2vh 0;
                border-radius: 4px;
            }
            
            .updatesimg-text {
                text-align: left;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    #mobile-reverse {
        flex-direction: column-reverse;
    }

    .role-description {
        margin-top: 2vh;
    }
  }