
.choices {
    font-size: 1em;
    width: 100%;
    height: 100%;

    h2, h3 { font-weight: 500; }
    p { font-size: 1.1rem; }
    ul { margin-left: 20px; font-size: 1.1rem; }
    strong { color: #FA6E00; }
}

.choices-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 90vw;

    #green { color: #169A00; font-weight: 600; }
    #yellow { color: #FFD15A; font-weight: 600; }
    #gray { color: #a6a6a6; font-weight: 600; }

    .img-container {
        display: flex;
        justify-content: center;
        margin: 20px 0; 
    }

    .mobile-img {
        img {
            border: #fa6c0050 solid 10px;
            width: 20%;
            border-radius: 20px;
        }
    }

    .choices-old-design {
        img {
            width: 50%;
            border-radius: 20px;
        }
    }

    .choices-color {
        img { width: 30%; }
    }

    .app-img {
        img {
            border: #fa6c0050 solid 10px;
            width: 50%;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width: 960px) {
    .choices-container {
        width: 80vw;
        padding-bottom: 50px;
        .mobile-img {
            img {
                border: #fa6c0050 solid 8px;
                width: 50%;
                border-radius: 10px;
            }
        }

        .choices-old-design {
            img {
                width: 80%;
                border-radius: 10px;
            }
        }

        .choices-color {
            img { width: 70%; }
        }

        .app-img {
            img {
                border: #fa6c0050 solid 8px;
                width: 80%;
                border-radius: 10px;
            }
        }
    }
}

