
.MHA {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2, h3 { font-weight: 500; }
  p { font-size: 1.1rem; }
  ul { margin-left: 20px; font-size: 1.1rem; }
  strong { color: #fff5ec; }
}

#mha-landing {
    text-align: center;
    font-weight: 600;

    #mha-title {
      position: absolute;
      font-size: 70px;
      margin-bottom: 20px;
  }

  #mha-img {
    width: 100%;
    height: 100%;
  }
}

.mha-peach { background-color: #fff5ec; color: #000; }
.mha-blue { background-color: #303f5c; color: #fff; }
.mha-green { background-color: #a1c1a4; color: #000; }

.mha-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
  width: 70vw;

  .mha-container-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  #proudct-text { 
    p, ul { font-size: 1.2rem; }
  }

  .mha-container-right {
    width: 50%;
    img { width: 40%; margin-right: 5px; }
  }
}

.mha-content { 
  width: 90vw; 
  .mha-left-full { width: 100%; }
}

#initial-img { 
  width: 100%; 
  margin-left: 50px; 
  img {
    width: 15%;
  }
}

#product-img { width: 100%; }
#mha-content-column { flex-direction: column; }

  @media screen and (max-width: 960px) { 
    #mha-landing #mha-title {
      font-size: 5vh;
    }

  .mha-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 80vw;
    padding: 40px 0;
    margin: 5px 0;
  
    .mha-container-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
    }
  
    #proudct-text { 
      p, ul { font-size: 1.2rem; }
    }
  
    .mha-container-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      img { width: 50%; margin-right: 0; margin-bottom: 10px; }
    }
  }

  #initial-img { 
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin-left: 50px;
  }
 }
