@import '../../index';

@mixin container-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#mha { width: 100%; strong { color: #a1c1a4; } }

.mha-peach { background-color: #fff5ec; color: #000; }
.mha-blue { background-color: #303f5c; color: #fff; }
.mha-green { background-color: #a1c1a4; color: #000; }

#mha-landing {
  background-color: #ffefde;
  height: 100vh;
  #mha-title {
    position: absolute;
    font-size: 70px;
    margin-bottom: 20px;
  }
  #mha-img { width: 100%; height: auto; }
}

.mha-container {
  min-height: 100vh;
  height: 100%;
  width: 70vw;
  .mha-left {
    @include container-content;
    width: 50%;
  }
  .mha-right {
    width: 50%;
    img { width: 40%; margin-right: 5px; }
  }
}

.mha-content { 
  width: 90vw; 
  .mha-left-full { width: 100%; }
}

#initial-img { 
  width: 100%; 
  margin-left: 50px; 
  img { width: 15%; }
}

#product-img { width: 100%; }

#mha-content-column {  
  @include container-content; 
  .mha-left { width: 100%;}  
}

@media screen and (max-width: 960px) { 
  #mha-landing #mha-title { font-size: 1.6rem; margin-top: 50px; }

  .mha-container {
    @include container-content;
    align-items: center;
    min-height: fit-content;
    width: 80%;
    margin: 18% 0;
    .mha-left {
      @include container-content;
      width: 100%;
      margin-bottom: 30px;
    }
    .mha-right {
      flex-direction: column;
      width: 100%;
      img { width: 50%; margin: 0 0 10px 0;
      }
    }
  }

  #initial-img { 
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin-left: 50px;
    img { width: 60%; margin-bottom: 10px;
    }
  }
 }
