
.about {
    width: 100%;
    height: 100%;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 4vh 14vw;
}

.about-title {
    font-size: 6vh;
    font-weight: 500;
    text-align: center;
}

.about-description {
    margin: 2vh 0vw;
    font-size: 2.5vh;
    line-height: 4vh;
}

@media screen and (max-width: 960px) {
    .about-title {
        font-size: 24px;
        font-weight: 500;
    }
    
    .about-description {
        margin: 2vh 0vw;
        font-size: 18px;
        line-height: 26px;
    }
    

}