
.about {
    width: 100%;
    height: 100%;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 4vh 14vw;
}

.about-title {
    font-size: 6vh;
    font-weight: 500;
    text-align: center;
}

.about-description {
    margin: 2vh 0vw;
    font-size: 2.5vh;
    line-height: 4vh;
}

#email {
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
    width: 180px;
    height: 40px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    color: #000;
    background-color: #F8EBB2;
    text-align: left;
    text-decoration: none;
}

#email:hover {
    transform: scale(0.8); 
    cursor: pointer;
    transition: 0.5s;
    background-color: #f7f0d2;
}

@media screen and (max-width: 960px) {
    .about-title {
        font-size: 24px;
        font-weight: 500;
    }
    
    .about-description {
        margin: 2vh 0vw;
        font-size: 18px;
        line-height: 26px;
    }
    

}