
#about {
    width: 100%;
    height: 100%;
}

#about-content {
    text-align: left;
    margin: 5% 10%;
    min-height: 100vh;
    height: fit-content;
    #about-title { text-align: center; }
}

#about-btn-container { justify-content: space-evenly; }

#about-btn p { margin: 0 10px; }

@media screen and (max-width: 960px) {
    #about {
        margin: 10% 0%;
        min-height: 100vh;
        height: fit-content;
    }

    #about-content {
        min-height: 100vh;
        height: fit-content;
    }

    #about-btn {
        margin: 10px;
        padding: 10px 0;
        p { display: none; }
    }
}