
#about {
    width: 100%;
    height: 100%;
}

#about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 5% 10%;
}

#about-title {
    font-size: 6vh;
    font-weight: 500;
    text-align: center;
}

#about-description {
    margin: 2vh 0vw;
    font-size: 2.5vh;
    line-height: 4vh;

    #nested-link {
        font-weight: 600;
        margin-left: 5px;
        display: inline-block;
        position: relative;

       &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: #F8EBB2;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
       }

       &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
}

#about-btn-container {
    justify-content: space-evenly;
}

#about-btn {
    p {
        margin: 0 10px;
    }
}

@media screen and (max-width: 960px) {

    #about {
        margin: 10% 0%;
    }

    #about-title {
        font-size: 24px;
        font-weight: 500;
    }
    
    #about-description {
        margin: 2vh 0vw;
        font-size: 18px;
        line-height: 26px;
    }

    #about-btn {
        margin: 10px;
        padding: 10px 0;
        p {
            display: none;
        }
    }
}