
.casmm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.casmm-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3d5c82;
    color: #fff;
    font-size: 3vh;
    line-height: 4.5vh;

    .casmm-one-description {
        width: 40%;
        margin: 0px 0px 0px 2vw;
    }

    .casmm-img {
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 30%;
        height: auto;
        left: 14vw;
        animation-duration: 3s;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.casmm-blue {
    height: 100%;
    background-color: #3d5c82;
    color: #fff;
}

.casmm-white {
    height: 100%;
    background-color: #fff;
    color: #000;
}

.casmm-yellow {
    height: 100%;
    background-color: #ffde59;
    color: #000;
}

.casmm-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 6vw;
}

.animation-element.slide-left.casmm-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    font-size: 2.5vh;
    line-height: 4vh;

    .casmm-text-container {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    
    .casmm-info-img {
        width: 30%;
        height: 20%;
    }
  }

.casmm-info-img-2 {
    width: 30%;
    height: auto;    

    .casmm-color-container {
        width: 100%;
       text-align: center;
    }
}

.animation-element.slide-left.casmm-title {
    font-size: 6.5vh;
    font-weight: 500;
    float: left;
    padding-bottom: 2vh;
  }


.casmm-content-container-pg4 {
    display: flex;
    flex-direction: column;
    margin: 10vh 6vw;
    height: fit-content;

    .animation-element.slide-left.note {
        font-size: 2.5vh;
    }

    .animation-element.slide-left.pg4img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40%;
        margin: 4vh 0;
    
        .pg4img {
            width: 60%;
            height: auto;
            border-radius: 8px;
            box-shadow:  5px 5px 5px #50505080;

            &:hover {
                animation: headShake;
                animation-duration: 2s;
            }
        }
        
        .pg4img-text {
            display: flex;
            align-items: center;
            width: 30%;
            margin: 0 2vw;
            font-size: 2.5vh;
        }
    }
}

.role-description {
    margin-top: 1vh;
}


.next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .link {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #000;
        padding: 2vw 0;

        &:hover {
            color: #F8EBB2;
            transform: scale(1.2);
        }
    }
}
 

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-2vh); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  }

  @media screen and (max-width: 960px) { 
    .casmm-landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-size: 18px;
        line-height: 26px;
        height: 10%;
        padding: 6vh 0;

        .casmm-one-description {
            width: 70%;
        }

        .logo {
            width: 50%;
            height: auto;
            margin: 4vh 0;
        }
    }


    .casmm-blue {
        height: fit-content;
    }

    .animation-element.slide-left.casmm-title {
        font-size: 24px;
    }

    .animation-element.slide-left.casmm-info-container {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 26px;
        float: left;
        width: 100%;
        
      .casmm-text-container {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        }

        .casmm-info-img {
            width: 80%;
            height: auto;
            margin: 6vh 0;
        }
  
       .casmm-info-img-2 {
            width: 50%;
            height: auto;    
            
            .casmm-color-container {
              width: 100%;
          }
        }
    }

    .casmm-content-container-pg4 {
        display: flex;
        flex-direction: column;
        margin: 10vh 6vw;
        height: fit-content;
    
        .animation-element.slide-left.note {
            font-size: 18px;
            line-height: 26px;
        }
    
        .animation-element.slide-left.pg4img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 40%;
            
            .pg4img {
                width: 100%;
                height: auto;
                margin: 2vh 0;
                border-radius: 10px;
            }
            
            .pg4img-text {
                display: flex;
                align-items: center;
                text-align: center;
                width: 100%;
                margin: 0;
                font-size: 18px;
            }
        }
    }

    #mobile-reverse {
        flex-direction: column-reverse;
    }

    .role-description {
        margin-top: 2vh;
    }

    .next-btn-container {
        text-align: center;
        margin: 4vw 0;
    }
  }