
.casmm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#casmm-landing {
    height: 100vh;
    background-color: #3d5c82;
    color: #fff;
    font-size: 3vh;
    line-height: 4.5vh;

    #casmm-landing-description {
        width: 40%;
        margin: 0px 0px 0px 2vw;
    }

    .casmm-img {
        width: 100%;
        height: 100%;
    }

    #casmm-logo {
        width: 30%;
        height: auto;
        left: 14vw;
        animation-duration: 3s;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.casmm-blue {
    height: 100%;
    background-color: #3d5c82;
    color: #fff;
}

.casmm-white {
    height: 100%;
    background-color: #fff;
    color: #000;
}

.casmm-yellow {
    height: 100%;
    background-color: #ffde59;
    color: #000;
}

.casmm-container {
    margin: 10vh 6vw;

    .casmm-info-container{
        font-size: 2.5vh;
        line-height: 4vh;

    .casmm-info-content {
        display: flex;
        flex-direction: column;
        width: 60%;

        #color-container {
            width: 30%;
            height: auto;    
        
            #color-img {
                width: 100%;
                text-align: center;
            }
        }
        
    }
    
    .casmm-info-img {
        width: 30%;
        height: 20%;
    }
  }
}

.casmm-title {
    font-size: 6.5vh;
    font-weight: 500;
    float: left;
    padding-bottom: 2vh;
  }


.casmm-container-updates {
    margin: 10vh 6vw;
    height: fit-content;

    .note {
        font-size: 2.5vh;
    }

    .updates-img-container {
        width: 100%;
        height: 40%;
        margin: 4vh 0;
    
        .updatesimg {
            width: 60%;
            height: auto;
            border-radius: 8px;
            box-shadow:  5px 5px 5px #50505080;

            &:hover {
                animation: headShake;
                animation-duration: 2s;
            }
        }
        
        .updatesimg-text {
            display: flex;
            align-items: center;
            width: 30%;
            margin: 0 2vw;
            font-size: 2.5vh;
        }
    }
}

.role-description {
    margin-top: 1vh;
}


  @media screen and (max-width: 960px) { 
    #casmm-landing {
        flex-direction: column;
        font-size: 18px;
        line-height: 26px;
        height: 70vh;

        #casmm-landing-description {
            width: 80%;
        }

        #casmm-logo {
            width: 50%;
            height: auto;
            margin: 4vh 0;
        }
    }

    .casmm-title {
        font-size: 30px;
        padding: 0;
    }

    .casmm-container {
        .casmm-info-container {
            flex-direction: column;
            font-size: 18px;
            line-height: 26px;
            width: 90%;
            height: fit-content;
            
            .casmm-info-content {
                width: 100%;

                #color-container {
                    width: 50%;
                    height: auto;    
                    
                    #color-img {
                      width: 100%;
                  }
                }
            }
    
            .casmm-info-img {
                width: 80%;
                height: auto;
                margin: 6vh 0;
            }
        }
    }


    .casmm-container-updates {
        display: flex;
        flex-direction: column;
        margin: 3vh 8vw;
    
        .note {
            font-size: 18px;
            line-height: 26px;
        }
    
        .updates-img-container {
            flex-direction: column;
            width: 100%;
            height: 40%;
            margin: 0;
            
            .updatesimg {
                width: 100%;
                height: auto;
                margin: 2vh 0;
                border-radius: 4px;
            }
            
            .updatesimg-text {
                display: flex;
                align-items: center;
                text-align: left;
                width: 100%;
                font-size: 18px;
            }
        }
    }

    #mobile-reverse {
        flex-direction: column-reverse;
    }

    .role-description {
        margin-top: 2vh;
    }
  }