
.casmm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.casmm-img {
    width: 100%;
    height: 100%;
}

.casmm-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3d5c82;
    color: #fff;
    font-size: 3vh;
    line-height: 4.5vh;
}

.casmm-landing .casmm-one-description {
    width: 40%;
    margin: 0px 0px 0px 2vw;
}

.casmm-landing .casmm-img {
    width: 100%;
    height: 100%;
}

.casmm-landing .logo {
    width: 30%;
    height: auto;
    left: 14vw;
    animation-duration: 3s;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.casmm-blue {
    height: 100%;
    background-color: #3d5c82;
    color: #fff;
}

.casmm-white {
    height: 100%;
    background-color: #fff;
    color: #000;
}

.casmm-yellow {
    height: 100%;
    background-color: #ffde59;
    color: #000;
}

.casmm-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 6vw;
}

.animation-element.slide-left.casmm-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3vh;
    float: left;
    line-height: 4.5vh;
  }

.casmm-text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.casmm-info-img {
    width: 30%;
    height: 20%;
}

.casmm-info-img-2 {
    width: 100%;
    height: auto;      }


.casmm-color-container {
    width: 40%;
   text-align: center;
}


.casmm-content-container-pg4 {
    display: flex;
    flex-direction: column;
    margin: 10vh 6vw;
    height: fit-content;
}

.animation-element.slide-left.note {
    font-size: 3vh;
}

.animation-element.slide-left.pg4img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    margin: 4vh 0;
}

.pg4img {
    width: 60%;
    height: auto;
}

.pg4img-text {
    display: flex;
    align-items: center;
    width: 30%;
    margin: 0 2vw;
    font-size: 3vh;
}

.role-description {
    margin-top: 1vh;
}

.animation-element.slide-left.casmm-title {
    font-size: 6.5vh;
    font-weight: 500;
    float: left;
    padding-bottom: 2vh;
  }

.ul {
    margin-left: 40px;
}

.li {
    list-style-type: number;
}

.br {
    height: 3px;
}

strong {
    font-weight: 500;
}


  .animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  
  .animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
 

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-4.5vh); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  }

  @media screen and (max-width: 960px) { 
    .casmm-landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-size: 18px;
        line-height: 26px;
        height: 10%;
        padding: 6vh 0;
    }

    .casmm-landing .casmm-one-description {
        width: 70%;
    }

    .casmm-landing .logo {
        width: 50%;
        height: auto;
        margin: 4vh 0;
    }

    .casmm-blue {
        height: fit-content;
    }

    .animation-element.slide-left.casmm-title {
        font-size: 24px;
    }

    .casmm-text-container {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        margin-top: 0;
    }

    .animation-element.slide-left.casmm-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        float: left;
        width: 100%;
      }

      .casmm-info-img {
          width: 80%;
          height: auto;
          margin: 6vh 0;
      }

     .casmm-info-img-2 {
          width: 50%;
          height: auto;      
    }

    .casmm-color-container {
        width: 100%;
    }

    .pg4img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .animation-element.slide-left.note {
        font-size: 18px;
        line-height: 26px;
    }

    .pg4img-text {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0;
        font-size: 18px;
    }

    .pg4img {
        width: 100%;
        height: auto;
        margin: 2vh 0;
    }

    .role-description {
        margin-top: 2vh;
    }
  }