

.design {
    margin: 30px 120px;
}

.design-title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

/* slidein animation located in MHA.css */

.design-info {
    padding: 10px 0px;
    font-size: 2.5vh;
    line-height: 4vh;
}

.experience-link:hover {
    color: rgba(255, 174, 108, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 960px) { 
    .design {
        margin: 30px 60px;
    }

    .design-info {
        padding: 10px 0px;
        font-size: 18px;
        line-height: 26px;
    }


    @keyframes slidein-mobile {
        0% { margin-left: 25%; }
        25% { margin-left: -25%; }
        50% { margin-left: 25%; }
        75% { margin-left: -25%; }
        100% { margin-left: 25%; }
      }

    .design-title {
        font-size: 24px;
        animation-duration: 8;
        animation-name: slidein-mobile;
    }
}
