

.design {
    margin: 10vw 120px;
}

.design-title {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    font-weight: 500;
}

.design-info {
    padding: 10px 0px;
    font-size: 2.5vh;
    line-height: 4vh;
    margin: 0 6vw;
}


@media screen and (max-width: 960px) { 
    .design {
        margin: 20vw 60px;
    }

    .design-info {
        padding: 10px 0px;
        font-size: 18px;
        line-height: 26px;
    }

    @keyframes slidein-mobile {
        0% { margin-left: 25%; }
        25% { margin-left: -25%; }
        50% { margin-left: 25%; }
        75% { margin-left: -25%; }
        100% { margin-left: 25%; }
      }

    .design-title {
        font-size: 24px;
        animation-duration: 8;
        animation-name: slidein-mobile;
    }
}
