.Home {
  width: 100%;
  height: 100%;
}

.filter {
  background-color: #deebfd;
  height: 80px;
  padding-top: 80px;
  gap: 10px;

  .pill {
    background-color: #f8ebb2;
    color: #000;
    border: none;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 500;
    @media (hover: hover) {
      &:hover {
        background-color: #e0d49f;
        cursor: pointer;
        transition: 0.4s;
      }
    }
  }

  #selected {
    background-color: rgba(146, 146, 146, 0.65);
    @media (hover: hover) {
      &:hover {
        background-color: rgb(170, 170, 170);
      }
    }
  }
}

#projects {
  display: grid;
  flex-direction: column;
  gap: 100px;
  padding: 50px 0 80px 0;
  background-color: #deebfd;
}

@media screen and (max-width: 960px) {
  .filter {
    padding-top: 60px;
  }
  #projects {
    gap: 70px;
  }
}
