.MHA {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#mha-landing {
    text-align: center;
    font-weight: 600;

    #mha-title {
      position: absolute;
      font-size: 70px;
      margin-bottom: 20px;
  }

  #mha-img {
    width: 100%;
    height: 100%;
  }
}

.mha-peach {
  height: fit-content;
  background-color: #fff5ec;
  color: #000;
}

.mha-blue {
  height: fit-content;
  background-color: #303f5c;
  color: #fff;
}

.mha-green {
  height: fit-content;
  background-color: #a1c1a4;
  color: #000;
}


.mha-content {
  margin: 10vh 0vw;

  .mha-info-container {
    width: 80%;
    font-size: 2.5vh;
    line-height: 4vh;

    .mha-left-container {
      display: flex;
      flex-direction: column;
      width: 60%;
    
      .mha-left-text {
        margin: 2vh 0;
        font-size: 2.5vh;
        display: block;
        width: 70%;

        .mha-nav {
          margin-left: 30px;
        }
      }
    }
    
    .mha-right-container {
      width: 40%;
    
      .mha-right-img {
        margin: 0 1vh;
        width: 50%;
        height: 50%;
    
        &:hover {
          animation: headShake;
          animation-duration: 2s;
        }
      }
  }

  .mha-img-delete {
    width: 15%;
    margin: 0 1vw;
  
    &:hover {
      animation: headShake;
      animation-duration: 2s;
    }
  }
} 

  #product-img {
    width: 100%;
    height: 100%;
  }
}

.mha-title {
  font-size: 5vh;
  font-weight: 500;
  float: left;
  height: fit-content;

}


#tech-container {
  .tech-items {
    font-size: 2.5vh;
  
    .tech-item {
      text-align: center;
      width: 14vw;
  
      .list {
        line-height: 4vh;
        list-style: none;
      }
    }
  }
  #tech-img {
  width: 40%;
  }
}

  @media screen and (max-width: 960px) { 
    #mha-landing #mha-title {
        font-size: 5vh;
    }

  .mha-title {
    font-size: 24px;
  }

  .mha-content {
    .mha-info-container{
      flex-direction: column;
      font-size: 18px;
      line-height: 26px;
      width: 100%;

      .mha-left-container {
        width: 80%;
 
        .mha-left-text {
          width: 100%;
          font-size: 18px;
          line-height: 26px;
        }
      }
    
      .mha-right-container {
        width: 80%;
        flex-direction: column;
  
        .mha-right-img {
          width: 60%;
          margin: 1vw 0;
        }
      }

      .mha-img-delete {
        margin-top: 6px;
        width: 45%;

        &:hover {
          animation: headShake;
          animation-duration: 2s;
        }
      }
    }
  }

    #tech-container {
      .tech-items {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 26px;
  
        .tech-item {
          margin: 1vh 2vw;
          width: 100%;
  
          .list {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }

      #tech-img {
        width: 60%;
  
        &:hover {
          animation: none;
        }
      }
    }
  }
