.MHA {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MHA-img {
    width: 100%;
    height: 100%;
}

.MHA-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;

    .MHA-title {
      position: absolute;
      font-size: 70px;
      margin-bottom: 20px;
      animation-duration: 3s;
      animation-name: bounce;
      animation-duration: 2s;
      animation-iteration-count: infinite;
  }
}

.mha-peach {
  height: fit-content;
  background-color: #fff5ec;
  color: #000;
}

.mha-blue {
  height: fit-content;
  background-color: #303f5c;
  color: #fff;
}

.mha-green {
  height: fit-content;
  background-color: #a1c1a4;
  color: #000;
}

.mha-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 0vw;
}

.animation-element.slide-left.mha-info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 2.5vh;
  line-height: 4vh;
}

.mha-text-container {
  width: 80%;
  font-size: 2.5vh;
  line-height: 4vh;
}


.mha-left-container{
  display: flex;
  flex-direction: column;
  width: 60%;

  .mha-left-text {
    margin: 1.5vh 0;
    font-size: 2.5vh;
    display: block;
    width: 70%;
  }
}

.mha-right-container {
  display: flex;
  float: left;
  flex-direction: row;
  width: 40%;

  .mha-right-img {
    margin: 0 1vh;
    width: 50%;
    height: 50%;
    &:hover {
      animation: headShake;
      animation-duration: 2s;
    }
  }

  .mha-right-img-product {
    margin: 0 1vh;
    width: 100%;
    height: 100%;
    &:hover {
      animation: headShake;
      animation-duration: 2s;
    }
  }
}

.mha-info-img {
  width: 25%;
  height: 25%;
  margin: 0 4vw;
}

.mha-green-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh 10vw;
}


.animation-element.slide-left.mha-title {
  font-size: 5vh;
  font-weight: 500;
  float: left;
  height: fit-content;

}

.tech-container {
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;

  .tech-item {
    text-align: center;
    width: 14vw;

    .list {
      line-height: 4vh;
      list-style: none;
    }
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .idea {
    width: 12%;
  }
}

.animation-element.slide-left.mha-container-pg6 {
  display: flex;
  flex-direction: row;
}

.mha-pg6-img {
  width: 40%;
  margin-left: 2vw;
}

.ul {
  margin-left: 40px;
}

@keyframes slidein {
    0% {
      margin-left: 0%;
    }
    50% {
      margin-left: 100px;
    }
    100% {
      margin-left: 0%;
    }
  }

  @media screen and (max-width: 960px) { 
    .MHA-landing .MHA-title {
        font-size: 5vh;
    }

  .animation-element.slide-left.mha-title {
    font-size: 24px;
  }

    .animation-element.slide-left.mha-info-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      float: left;
      font-size: 18px;
      line-height: 26px;
      width: 100%;
    }

    .mha-left-container {
      width: 80%;

      .mha-left-text {
        width: 100%;
        font-size: 18px;
        line-height: 26px;
      }
    }
  
    .mha-right-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mha-right-img {
        width: 80%;
        margin: 1vw 0;
      }
    }

    .tech-container {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 26px;

      .tech-item {
        margin: 1vh 2vw;
        text-align: left;
        width: 100%;

        .list {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .mha-container-pg6 {
      display: flex;
      flex-direction: column;
      float: left;

      .mha-pg6-img {
        width: 100%;
        padding-left: 20px;
        &:hover {
          animation: none;
        }
      }
    }

    .next-btn-container {
      text-align: center;
      margin: 4vw 0;
    }
  }
