.dropdown-menu {
    width: 200px;
    height: auto;
    position: absolute;
    top: 43px;
    list-style: none;
    text-align: start;
    box-shadow:  5px 5px 5px #7e7e7e;
    background-color: white;

    li {
      cursor: pointer;

      &:hover {
        background-color: #F8EBB2;
      }
    }

    #external-link {
      background-color: none;
    }
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .caret-down {
      display: none;
    }
  }