.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 40px;
    list-style: none;
    text-align: start;
    box-shadow:  5px 5px 5px #7e7e7e;
  }
  
  .dropdown-menu li {
    background: white;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color:  #f8ebb2;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .caret-down {
      display: none;
    }
  }