@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.landing {
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-left: 10%;
    margin-right: 10%;

    .description {
        display: flex;
        align-items: center;
        width: 70%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 43px;
        margin: 10px;
    }

    .image-container {
        position: relative;
        width: 40%;

        .photo {
            width: 300px;
            height: 300px;
        }
        
        .stars {
            position: absolute;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 60px;
            right: 80px;
            top: -20px;
            color: rgb(214, 214, 47);
        }
    }
}

@keyframes rotate {
	0% {
		opacity: 0;
        transform:scale(0.3);
	}
	50% {
        ransform: rotate(60deg);
        
	}
}

@media (prefers-reduced-motion: no-preference) {
    .stars {
        animation: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
  }

@media screen and (max-width: 960px) {

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%; 

        .description {
            width: 70%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .image-container {
            width: 300px;
            height: 300px;
            margin-bottom: 40px;

            .photo {
                width: 100%;
                height: 100%;
            }
        
            .stars {
                position: absolute;
                font-family: 'Gloria Hallelujah', cursive;
                font-size: 14vh;
                right: 0px;
                top: -1vh;
                color: rgb(214, 214, 47);
            }
        }
    }
}