

.landing {
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.info-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 15%;
    width: 100%;

    .description {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }

    .landing-image-container {
        display: grid;
        grid-template-columns: 3fr 1fr;

        .photo {
            grid-area: 'photo';
            width: 300px;
            height: 300px;
        }
        
        .stars {
            position: relative;
            left: -80px;
            grid-area: 'stars';
            width: 100px;
            color: rgb(214, 214, 47);
        }
    }
}

@keyframes rotate {
	0% {
		opacity: 0;
        transform:scale(0.3);
	}
	50% {
        ransform: rotate(60deg);
        
	}
}

@media (prefers-reduced-motion: no-preference) {
    .stars {
        animation: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
  }

@media screen and (max-width: 960px) {

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 5%;

        .description {
            width: 70%;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            margin: 20px 0;
            text-align: center;
        }
    
        .landing-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            .photo {
            
            }
        
            .stars {
                bottom: 90px;
                width: 80px;
                color: rgb(214, 214, 47);
            }
        }
    }
}