#landing {
    min-height: 100vh;
    height: fit-content;
    background-color: #fff;
}

#info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    width: 75%;
    align-items: center;

    #opening {
        white-space: nowrap;
    }

    #msg-icon  {
        animation: fadeIn;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    #description {
        font-size: 2.1em;
        margin-right: 20px;
        min-width: 80%;
        width: fit-content;
        min-height: 24vh;
        height: fit-content;
    }

    #landing-img-container {
        // height: auto;

        #photo {
            width: 100%;
            animation: bounceInLeft 2s;
        }
    }
}

#down-icon {
    position: absolute;
    bottom: 20px;
    font-size: 150%;
}

@media screen and (max-width: 960px) {

    #landing { }

    #info-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
        gap: 30px;

        #description {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            margin-left: 0;
            height: fit-content;
        }
    
        #landing-img-container {
            margin-top: 60px; // navbar height
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85vw;
            height: auto;

            #photo {
                width: 100%;
            }
        }
    }

    #down-icon {
        display: none;
    }
}