#landing {
    min-height: 100vh;
    height: fit-content;
    background-color: #fff;
}

#info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    width: 75%;
    align-items: center;

    #msg-icon  {
        animation: fadeIn;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    #description {
        font-size: 2.1em;
        margin-right: 20px;
        width: 80%;
    }

    #landing-img-container {
        #photo {
            width: 100%;
        }
    }
}

#down-icon {
    position: absolute;
    bottom: 20px;
    font-size: 150%;
}

@media screen and (max-width: 960px) {

    #landing { }

    #info-container {
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
        gap: 30px;

        #description {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            margin-left: 0;
        }
    
        #landing-img-container {
            display: flex;
            justify-content: center;
            align-items: center;

            #photo {
                width: 100%;
            }
        }
    }

    #down-icon {
        bottom: -20px;
    }
}