

#landing {
    min-height: 100vh;
    height: 100%;
    background-color: #fff;
}

#info-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 70%;
    align-items: center;

    #msg-icon  {
        animation: fadeIn;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    #description {
        font-size: 2.4rem;
    }

    #description-animation {
        width: fit-content;
    }

    #landing-img-container {
        display: grid;
        grid-template-columns: 3fr 1fr;

        #photo {
            grid-area: 'photo';
            width: 400px;
        }
    }
}

#down-icon {
    position: absolute;
    bottom: 20px;
    font-size: 150%;
}

@media screen and (max-width: 960px) {
    #info-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;

        #description {
            width: 100%;
            text-align: center;
        }
    
        #landing-img-container {
            display: flex;
            justify-content: center;
            align-items: center;

            #photo {
                width: 70%;
            }
        }
    }

    #down-icon {
        bottom: -20px;
    }
}