@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

nav {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;

}

#navbar-container {
    justify-content: space-between;
    height: 60px;
    margin: 0 20px;

    #nav-profile-container {
  
      #name {
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 22px;
        font-weight: 600;
        padding: 0 10px;
        margin-left: 5px;
      }
  
      #icon {
        width: 40px;
        height: 40px;
        background: #ADADAD;
        border-radius: 12px;
    }
    
    &:hover {

      #name {
        background-color: #F8EBB2;
        border-radius: 10px;
        transition: 0.5s;
      }
    }
  }
}

.mobile-icon {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;

  #nav-item {
    width: auto;
    padding: 0 10px;
    list-style-type: none;

    &:hover {
      background-color: #F8EBB2;
      border-radius: 10px;
      transition: 0.25s linear;
    }

    #link {
      display: inline-block;
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;

    }

  }

  #experience-item { display: none; }
}

#footer {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 18px;

  #footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #footer-icon {
      margin-left: 15px;
      &:hover {
        color:#F8EBB2;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #NavbarItems {
      position: relative;
    }
    
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    position: absolute; 
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;

    #nav-item {
      padding: 0;
      margin-top: 10px;
  
      &:hover {
        background-color: #F8EBB2;
      }
  
      #link {
        font-weight: 500;
        margin: 0px; 
        display: block; 
        width: 100%; 
        height: 100%;
      }
    }

    #experience-item {
      margin-top: 8px;
      margin-left: 20px;
      display: block;
      line-height: 24px;
      width: 100%;
    
      #link {
        font-weight: 400;
        display: block; 
        width: 100%; 
        height: 100%;
      }
    }
  }
    
  .nav-menu.active {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.1s linear;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .mobile-icon {
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .open {
    cursor: pointer;
    color: #F8EBB2;
  }

}
