@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.navbar {
    position: sticky;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    /* background: #FFFFFF; */
}

.navbar-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color:#000000;
}

.name {
    font-family: 'Gloria Hallelujah', cursive;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}


.profile-icon {
    width: 40px;
    height: 40px;
    background: #ADADAD;
    border-radius: 12px;
}

.nav-profile-container:hover .profile-icon {
    width: 42px;
    height: 42px;
}

.nav-profile-container:hover .name {
    font-size: 26px;
}

.mobile-icon {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}

.nav-item:hover {
    background: rgba(255, 174, 108, 0.2);
    border-radius: 4px;
}

.link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.nav-item:hover {
    color: rgba(255, 174, 108, 0.2);
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
      }
    
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 80vh;
        position: absolute; 
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        padding-top: 10px;
        padding-left: 10px;
        background: #DCEEFB;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
        box-shadow: 12px 12px 2px 1px rgba(255, 174, 108, 0.2);
      }

      .nav-item {
        margin: 5px;
      }

      .nav-item:hover {
        background:rgba(255, 174, 108, 0.2)
      }

      .mobile-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
}