
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#prj {
    background-color: #DEEBFD;
    height: 50vh;
    font-family: 'Source Code Pro', monospace;
    padding: 2vw 0;
}

#prj-container {
    height: 90%;
    width: 90%;
    margin: 0 10%;

    #prj-info-container {
        width: 40%;
        color: #000;
    
        #prj-type {
            font-size: 20px;
        }
    
        #prj-title {
            font-weight: 700;
         }     
    
        #prj-role {
            font-weight: 500;
            font-size: 2.5vh;
        }
    
        #prj-description {
            width: 90%;
            font-size: 20px;
            line-height: 28px;
            padding: 1vh 0;
        }
    }

    #prj-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 30vh;
    
        #prj-img {
            width: 80%;
            height: auto;
        }
    }
}


.choices-status {
    text-align: center;
    color: #000;
}

#prj-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

#prj-btn {
    margin: 20px 0px 0px;
}

@media screen and (max-width: 960px) {

    #prj {
        display: flex;
        height: auto;
    }

    #prj-container {
        flex-direction: column;
        height: auto;
        padding-top: 40px;

        #prj-info-container {
            display: flex;
            align-items: center;
            width: 90%;
            text-align: center;
    
            #prj-role {
                font-weight: 500;
                font-size: 20px;
            }
        
            #prj-description {
                font-size: 18px;
                line-height: 26px;
            }
        }

        #prj-img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: fit-content;
            margin: 6vh;
    
            #prj-img {
                width: 100%;
            }
        }
    }

  }