@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.project-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #DCEEFB;
    height: 50vh;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.prj-info-container {
    width: 40%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.prj-description {
    font-size: 20px;
    line-height: 28px;
}

.prj-image-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 30vh;
}

.prj-image {
    width: 250px;
    height: 250px;
    background-color: rgb(235, 233, 233);
}


.prj-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:  rgb(255, 186, 36);
    /* background-color: red; */
}

.arrow-btn {
    /* background-color: yellow; */
    font-size: 20px;
}

.prj-button {
    margin-left: 2px;
    width: 100px;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    background-color: transparent;
    border-radius: 20px;
    font-weight: 600;
    color:  rgb(255, 186, 36);
    text-align: left;
    text-decoration: none;
    /* background-color: green; */
}

.prj-link-container:hover .prj-button {
    color: rgba(255, 174, 108, 0.5);
    cursor: pointer;
}

.prj-link-container:hover .arrow-btn {
    color: rgba(255, 174, 108, 0.5);
    cursor: pointer;
}

/* @keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .prj-image {
        animation: wipe-enter;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
  } */

@media screen and (max-width: 960px) {

    .project-overview {
        display: flex;
        height: auto;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 40px;
    }

    .prj-info-container {
        width: 90%;
    }

    .title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .prj-description {
        font-size: 1.2em;
        line-height: 1.4em;
    }

    .prj-button {
        background-color: transparent;
        padding-left: 0;
        text-align: left;
        color: rgba(255, 174, 108, 0.8);
        font-weight: 800;
    }

    .prj-button:hover {
        color: rgba(255, 174, 108, 0.5);
    }

    .prj-image-container {
        width: 250px;
        height: 250px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .prj-image {
        height: 100%;
        width: 100%;
    }

  }