
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.project-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #DEEBFD;
    height: 50vh;
    font-family: 'Source Code Pro', monospace;
    padding: 2vw 0;
}

.animation-element.slide-left.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

.prj-info-container {
    width: 40%;
    display: flex;
    align-items: left;
    flex-direction: column;
    color: #000;
}

.prj-role {
    font-weight: 500;
    font-size: 2.5vh;
}

.title {
   font-weight: 700;
}

.prj-description {
    width: 90%;
    font-size: 20px;
    line-height: 28px;
    padding: 1vh 0;
}

.type {
    font-size: 20px;
}

.prj-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30vh;
}

.prj-img {
    width: 80%;
    height: auto;
}

.choices-status {
    text-align: center;
    color: #000;
}

.prj-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.prj-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
    width: 150px;
    height: 34px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    color: #000;
    background-color: #F8EBB2;
    text-align: left;
    text-decoration: none;
}

.prj-link-container:hover .prj-button {
    /* transform: scale(0.8);  */
    cursor: pointer;
    animation: rubberBand;
    animation-duration: 1s;
}

@media screen and (max-width: 960px) {

    .project-overview {
        display: flex;
        height: auto;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 40px;
    }

    .prj-info-container {
        display: flex;
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .prj-role {
        font-weight: 500;
        font-size: 20px;
    }

    .prj-description {
        font-size: 18px;
        line-height: 26px;
    }

    .prj-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: fit-content;
        margin: 6vh;
    }

    .prj-img {
        width: 100%;
    }

  }