
.project-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #deebfd;
    height: 50vh;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

.prj-info-container {
    width: 40%;
    display: flex;
    align-items: left;
    flex-direction: column;
    color: #000;
}

.prj-description {
    width: 90%;
    font-size: 18px;
    line-height: 28px;
}

.prj-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30vh;
}

.prj-image {
    width: 250px;
    height: 250px;
    background-color: rgb(235, 233, 233);
}

.prj-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.prj-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
    width: 150px;
    height: 34px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    color: #000;
    background-color: #f8ebb2;
    text-align: left;
    text-decoration: none;
}

.prj-link-container:hover .prj-button {
    transform: scale(0.8); 
    cursor: pointer;
}

@media screen and (max-width: 960px) {

    .project-overview {
        display: flex;
        height: auto;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 40px;
    }

    .prj-info-container {
        display: flex;
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .prj-description {
        font-size: 1.2em;
        line-height: 1.4em;
    }

    .prj-image-container {
        width: 250px;
        height: 250px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .prj-image {
        height: 100%;
        width: 100%;
    }

  }